/* 
.brand {
    text-align: center;
    font-size: 1.3em !important;
    --company-name: 'Cheap Health Insurance Markets' !important;

} 

.brand:after {
    content: var(--company-name) !important;
}  */
